.reviewWrapper {
 display: flex;
 flex-wrap: wrap;
 align-items: stretch;
 margin-top: 105px;
 margin-bottom: 200px;
}

.reviewCard {
    border-radius: 15px;
    width: 468px;
    padding: 28px;
    background: #d9d9d9;
    margin-bottom: 35px;
}

.reviewCard:not(:last-child) {
    margin-right: 35px;
}

@media (max-width: 500px) {
    .reviewWrapper {
        flex-direction: column;
    }
    .reviewCard {
        width: 90%;
        padding: 10px;
    }
    .reviewCard:not(:last-child) {
        margin-right: 0;
    }
}